* {
  padding: 0;
  margin: 0;
  box-sizing: content-box;
}

#container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 5% 10%;
  border: 1px solid #e7e6e6;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

button:hover {
  cursor: pointer;
}

.heading {
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
}

.heading h1 {
  font-size: 1rem;
  font-weight: normal;
}

.heading button {
  border: none;
  background-color: transparent;
  color: dimgrey;
  width: 30px;
}

hr {
  border: 1px solid #e7e6e6;
}

.add-new-todo {
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
}

.add-new-todo input {
  width: 80%;
  border: none;
}

.add-new-todo input:enabled {
  border: none;
  outline: none;
}

.add-new-todo button {
  border: none;
  background-color: transparent;
  color: dimgrey;
  width: 30px;
}

.action {
  display: flex;
  gap: 0 10px;
}

.action > button {
  background-color: #6969691c !important;
  padding: 7px 1px;
  border-radius: 100%;
}

#todo-list {
  list-style: none;
}

#todo-list .todo {
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
  align-items: center;
}

#todo-list .todo h2 {
  font-size: 1rem;
  font-weight: normal;
}

#todo-list .todo div {
  display: flex;
  justify-content: space-between;
  gap: 15px;
  align-items: center;
}

#todo-list .todo button {
  border: none;
  background-color: transparent;
  color: dimgrey;
  width: 30px;
}

#clear-completed-button {
  padding: 20px 40px;
  border: none;
  background-color: #f5f5f5;
}
